/* styles.css */

/* Resetting default margin and padding for the list */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style for the sidebar */
.sidebar {
    width: 250px;
    border: 2px solid#000;
    margin: 0px auto;

    padding: 20px 20px 20px 0px;
}

/* Style for the buttons */
button {
    width: 100px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    display: block;
    height: 126px;
}

/* Green button */
.green-button {
    background-color: green;
}

/* Blue button */
.blue-button {
    background-color: blue;
}

/* Red button */
.red-button {
    background-color: red;
}

/* Pink button */
.pink-button {
    background-color: pink;
}

/* Hover effect on buttons */
button:hover {
    background-color: #0074D9;
    width: 120px;
    height: 140px;
}
